/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Variables */
/* Mixins */
.button {
  background-color: #3fb3b3;
  font-size: 0.9rem;
  color: white;
  border-radius: 10rem;
}
.h1header {
  font-size: 3.8rem;
  font-family: 'Karla', sans-serif;
  color: #0e0e0e;
  text-align: center;
}
.h2header {
  padding-bottom: 1.9rem;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  color: #3e3d3d;
  text-align: center;
}
.h3header {
  line-height: 5rem;
  font-size: 3rem;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
  text-align: center;
}
.h4header {
  line-height: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
}
.h5header {
  padding-bottom: 0.6rem;
  font-size: 1.7rem;
}
.h6header {
  padding-bottom: 1rem;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  border-bottom: 1px dashed #3fb3b3;
}
.aparagraph {
  line-height: 1.8rem;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2% 1.25%;
  font-family: 'Karla', sans-serif;
  color: #3e3d3d;
}
@media (max-width: 500px) {
  .container {
    width: auto;
  }
}
.container nav {
  padding: 1rem;
  text-align: right;
}
@media (max-width: 500px) {
  .container nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .container nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.container .nav-item {
  display: inline-block;
  margin: 0.8rem;
  padding: 1rem;
  border-radius: 1rem;
}
@media (max-width: 500px) {
  .container .nav-item {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
  }
  .container .nav-item:hover {
    color: #72babd;
  }
}
@media (max-width: 600px) {
  .container .nav-item {
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
  }
  .container .nav-item:hover {
    color: #72babd;
  }
}
.container .nav-item:hover {
  background-color: yellow;
}
.container nav a {
  text-decoration: none;
  color: #3e3d3d;
}
.container nav a:hover {
  background-color: yellow;
}
.container img {
  display: block;
  margin: auto;
  width: 180px;
  height: 200px;
  padding: 0.5rem;
  border-radius: 50%;
}
.container .title {
  padding: 1rem;
  border-bottom: 5px solid lightgray;
  /* background: rgb(101, 171, 189);  */
  /* border: 4px solid rgb(129, 204, 223); */
  text-align: center;
  -webkit-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
  -moz-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
  box-shadow: inset -21px 74px 288px -200px #c7c7c7;
}
@media (max-width: 500px) {
  .container .title {
    display: none;
  }
}
@media (max-width: 600px) {
  .container .title {
    display: none;
  }
}
.container .mobile-title {
  display: none;
}
@media (max-width: 500px) {
  .container .mobile-title {
    display: block;
    padding: 1rem;
    line-height: 2.5rem;
    border-bottom: 5px solid lightgray;
    /* background: rgb(101, 171, 189);  */
    /* border: 4px solid rgb(129, 204, 223); */
    text-align: center;
    -webkit-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
    -moz-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
    box-shadow: inset -21px 74px 288px -200px #c7c7c7;
  }
}
.container .mobile-title2 {
  display: none;
}
@media (max-width: 600px) {
  .container .mobile-title2 {
    display: block;
    padding: 1rem;
    line-height: 2.5rem;
    border-bottom: 5px solid lightgray;
    /* background: rgb(101, 171, 189);  */
    /* border: 4px solid rgb(129, 204, 223); */
    text-align: center;
    -webkit-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
    -moz-box-shadow: inset -21px 74px 288px -200px #c7c7c7;
    box-shadow: inset -21px 74px 288px -200px #c7c7c7;
  }
}
@media (max-width: 600px) and (max-width: 500px) {
  .container .mobile-title2 {
    display: none;
  }
}
.ahandwriting {
  font-family: 'PT Mono', monospace;
}
.tagline {
  line-height: 1;
  text-align: center;
  font-size: 1.1rem;
  color: #6d6d6d;
}
h1 {
  font-size: 3.8rem;
  font-family: 'Karla', sans-serif;
  color: #0e0e0e;
  text-align: center;
  color: #3fb3b3;
  line-height: 4rem;
}
h2 {
  padding-bottom: 1.9rem;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  color: #3e3d3d;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.8rem;
  font-weight: bold;
  font-size: 1.5rem;
}
button {
  background-color: #3fb3b3;
  font-size: 0.9rem;
  color: white;
  border-radius: 10rem;
  padding: 1.2rem;
  width: 140px;
}
button:hover {
  background-color: #dfc60a;
}
/* Mixins - First Section */
.firstsectionbox {
  margin: 0.5rem;
  width: 50%;
}
@media (max-width: 500px) {
  width: auto;
}
@media (max-width: 600px) {
  padding: 1.4rem;
  width: auto;
}
.theskillsbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.abox {
  width: 100%;
  padding: 1.4rem;
  text-align: center;
  -webkit-box-shadow: inset 200px -15px 136px -170px #ffdf2a;
  -moz-box-shadow: inset 200px -15px 136px -170px #ffdf2a;
  box-shadow: inset 200px -15px 136px -170px #ffdf2a;
}
.analtbox {
  background-color: #fceaad;
  text-align: center;
  background-color: #faf3bf;
}
/* First Section */
.first-section {
  display: flex;
  padding-top: 0;
}
@media (max-width: 800px) {
  .first-section {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .first-section {
    flex-direction: column;
    align-items: center;
  }
}
.first-section .first-section-box {
  margin: 0.5rem;
  width: 50%;
}
@media (max-width: 500px) {
  .first-section .first-section-box {
    width: 430px;
  }
}
@media (max-width: 800px) {
  .first-section .first-section-box {
    width: 700px;
  }
}
.first-section h3 {
  line-height: 5rem;
  font-size: 3rem;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
  text-align: center;
  font-size: 2.7rem;
}
.first-section h4 {
  line-height: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
}
.first-section p {
  line-height: 1.8rem;
}
.first-section .summary {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #f7f6f2;
  -webkit-box-shadow: inset 1px -103px 154px -200px #d9be50;
  -moz-box-shadow: inset 1px -103px 154px -200px #d9be50;
  box-shadow: inset 1px -103px 154px -200px #d9be50;
}
@media (max-width: 800px) {
  .first-section .summary {
    padding-top: 1.4rem;
    width: auto;
  }
}
@media (max-width: 700px) {
  .first-section .summary {
    padding-top: 1.4rem;
    width: auto;
  }
}
@media (max-width: 600px) {
  .first-section .summary {
    padding: 1.4rem;
    width: auto;
  }
}
@media (max-width: 500px) {
  .first-section .summary {
    padding: 1.4rem;
    width: auto;
  }
}
@media (max-width: 700px) {
  .first-section .expertise {
    padding-top: 1rem;
    width: auto;
  }
}
@media (max-width: 600px) {
  .first-section .expertise {
    padding-top: 1rem;
    width: auto;
  }
}
@media (max-width: 500px) {
  .first-section .expertise {
    padding-top: 1rem;
    width: auto;
  }
}
.first-section .skillsbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.first-section .box {
  font-family: 'PT Mono', monospace;
  color: #524406;
  width: 100%;
  padding: 1.4rem;
  text-align: center;
  -webkit-box-shadow: inset 200px -15px 136px -170px #ffdf2a;
  -moz-box-shadow: inset 200px -15px 136px -170px #ffdf2a;
  box-shadow: inset 200px -15px 136px -170px #ffdf2a;
}
.first-section .altbox {
  color: #524406;
  background-color: #fceaad;
  text-align: center;
  background-color: #faf3bf;
}
/* Education */
.education {
  padding: 1rem;
  border: 1px solid #f7f6f2;
  text-align: center;
  -webkit-box-shadow: inset 155px 2px 252px -200px #ebebeb;
  -moz-box-shadow: inset 155px 2px 252px -200px #ebebeb;
  box-shadow: inset 155px 2px 252px -200px #ebebeb;
}
@media (max-width: 500px) {
  .education {
    padding: 1rem;
  }
}
.education h4 {
  line-height: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
}
.education h5 {
  padding-bottom: 0.6rem;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.education h6 {
  padding-bottom: 1rem;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  border-bottom: 1px dashed #3fb3b3;
  border: none;
}
.education p {
  border-bottom: 1px solid #ebeaea;
  padding-bottom: 1rem;
  line-height: 1.9;
}
/* Work History */
.work-history {
  padding: 1rem;
  border: 1px solid #f7f6f2;
  -webkit-box-shadow: inset 124px -4px 154px -200px #3fb1b3;
  -moz-box-shadow: inset 124px -4px 154px -200px #3fb1b3;
  box-shadow: inset 124px -4px 154px -200px #3fb1b3;
}
@media (max-width: 500px) {
  .work-history {
    padding: 1rem;
  }
}
.work-history h4 {
  line-height: 5rem;
  font-size: 3rem;
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  color: #3fb3b3;
}
.work-history h5 {
  padding-bottom: 0.6rem;
  font-size: 1.7rem;
  padding-top: 2rem;
  text-align: center;
}
.work-history h6 {
  padding-bottom: 1rem;
  font-family: 'PT Mono', monospace;
  font-size: 1rem;
  border-bottom: 1px dashed #3fb3b3;
  text-align: center;
}
.work-history p {
  line-height: 1.8rem;
  padding: 1rem;
}
footer {
  padding: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 2rem;
}
footer a {
  text-decoration: none;
  color: #3fb3b3;
}
