// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


/* Variables */


@black-color: rgb(62, 61, 61); 

@header-theme: rgb(14, 14, 14); 

@main-color: rgb(36, 35, 36); 

@maincolor2: yellow; 

@skills: rgb(250, 206, 60); 

@skillsalt: rgb(252, 234, 173); 

@popofcolor: rgb(63, 179, 179); 

@karla-font: 'Karla', sans-serif;

@head-font: 'PT Mono', monospace;

@handwriting: 'Grand Hotel', cursive;

@handwriing2: 'Pacifico', cursive;



/* Mixins */

.button {
	background-color: @popofcolor;
	font-size: .9rem;
	color: white;
	border-radius: 10rem;
}

.h1header {
	font-size: 3.8rem;
	font-family: @karla-font;
	color: @header-theme;
	text-align: center; 
}

.h2header {
	padding-bottom: 1.9rem; 
	font-family: @head-font;
	font-size: 1rem;
	color: @black-color;
	text-align: center; 
}

.h3header {
	line-height: 5rem; 
	font-size: 3rem;
	font-family: @handwriting;
	color: @popofcolor;
	text-align: center; 
}

.h4header {
	line-height: 5rem; 
	font-size: 3rem;
	text-align: center; 
	font-family: @handwriting;
	color: @popofcolor;
}

.h5header {
	padding-bottom: .6rem;
	font-size: 1.7rem;
}
.h6header {
	padding-bottom: 1rem;
	font-family: @head-font;
	font-size: 1rem;
	border-bottom: 1px dashed @popofcolor;
}

.aparagraph {
	line-height: 1.8rem; 
}





.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 2% 1.25%;
	font-family: @karla-font;
	color: @black-color;

	@media (max-width: 500px){
		width: 460px;
	}

	nav {
		padding: 1rem;
		text-align: right;

		@media (max-width: 500px){
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		@media (max-width: 600px){
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}


		.nav-item {
			display: inline-block;
			margin: .8rem; 
			padding: 1rem;
			border-radius: 1rem; 

			@media (max-width: 500px){
				border-bottom: 1px solid lightgrey;
				border-radius: 0;
			}
			@media (max-width: 600px){
				border-bottom: 1px solid lightgrey;
				border-radius: 0;
			}
		}
		nav a {
	
			text-decoration: none; 
			color: @black-color;
		}
		nav a:hover {
			background-color: @maincolor2;
		}

	img {
		display: block; 
		margin: auto; 
		width: 180px;
		height: 200px;
		padding: .5rem;
		border-radius: 50%;
	}

	.title {
		padding: 1rem; 
		border-bottom: 5px solid lightgray;
		/* background: rgb(101, 171, 189);  */
		/* border: 4px solid rgb(129, 204, 223); */
		text-align: center; 
		-webkit-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
		-moz-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
		box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);

		@media (max-width: 500px){
			display: none;
		}

		@media (max-width: 600px){
			display: none;
		}

	
	}

	.mobile-title {

		display: none; 

		@media (max-width: 500px){
			display: block; 
			padding: 1rem; 
			line-height: 2.5rem;
		border-bottom: 5px solid lightgray;
		/* background: rgb(101, 171, 189);  */
		/* border: 4px solid rgb(129, 204, 223); */
		text-align: center; 
		-webkit-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
		-moz-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
		box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
		}
	}

		
		.mobile-title2 {
			display: none;


			@media (max-width: 600px){
				display: block; 
				padding: 1rem; 
				line-height: 2.5rem;
			border-bottom: 5px solid lightgray;
			/* background: rgb(101, 171, 189);  */
			/* border: 4px solid rgb(129, 204, 223); */
			text-align: center; 
			-webkit-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
			-moz-box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);
			box-shadow: inset -21px 74px 288px -200px rgba(199,199,199,1);

			@media (max-width: 500px){
				display: none;
			}
		}
	

		}





	}



	.ahandwriting {
		font-family: @head-font;
	}

	.tagline {
		line-height: 1;
		text-align: center;
		font-size: 1.1rem;
		color: rgb(109, 109, 109);
	}

	h1 {
		.h1header();
		color: @popofcolor; 
		line-height: 4rem;


	}

	h2 {
		.h2header();
		padding-top: 1rem;
		padding-bottom: 1.8rem;
		font-weight: bold;
		font-size: 1.5rem; 
	}

	button {
		.button();
		padding: 1.2rem;
		width: 140px;

		&:hover {
			background-color: rgb(223, 198, 10); 
		}
	}






/* Mixins - First Section */

.firstsectionbox {
	margin: .5rem;
	width: 50%;
}

@media(max-width: 500px) {
	width: 350px;
}

@media (max-width:600px) {
	padding: 1.4rem;
	width: 440px

}

.theskillsbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;

}

.abox {
	width: 100%;
	padding: 1.4rem;
	text-align: center; 
	-webkit-box-shadow: inset 200px -15px 136px -170px rgba(255,223,42,1);
-moz-box-shadow: inset 200px -15px 136px -170px rgba(255,223,42,1);
box-shadow: inset 200px -15px 136px -170px rgba(255,223,42,1);
}

.analtbox {
	 background-color: @skillsalt; 
	 text-align: center; 
	background-color: rgb(250, 243, 191);
}



/* First Section */

.first-section {
	display: flex;
	padding-top: 0;

	@media (max-width:800px) {
		flex-direction: column;
		align-items: center; 
	}


	@media (max-width:500px) {
		flex-direction: column;
		align-items: center; 
	}



	.first-section-box {
		.firstsectionbox();

		@media (max-width:500px) {
			width: 430px;
		}


		@media (max-width:800px) {
			width: 700px;
		}
	}

	h3 {
		.h3header();
		font-size: 2.7rem;
}
	h4 {

		.h4header();
	}

	p {
		.aparagraph();
	}

	.summary {
		padding-left: 1rem;
		padding-right: 1rem;
		border: 1px solid rgb(247, 246, 242);
		-webkit-box-shadow: inset 1px -103px 154px -200px rgba(217,190,80,1);
		-moz-box-shadow: inset 1px -103px 154px -200px rgba(217,190,80,1);
		box-shadow: inset 1px -103px 154px -200px rgba(217,190,80,1);

		@media (max-width:800px) {
			padding-top: 1.4rem;
			width: 730px;
		}

		@media (max-width:700px) {
			padding-top: 1.4rem;
			width: 630px;
		}

		@media (max-width:600px) {
			padding: 1.4rem;
			width: 530px

		}

		@media (max-width:500px) {
			padding: 1.4rem;
			width: 440px;

		}
	

	}

	.expertise {

		@media (max-width:700px) {
			width: 600px;
		}

		@media (max-width:600px) {
			padding: 1.4rem;
			width: 440px

		}
		@media (max-width:500px) {
			width: 440px;

		}
		
	}


	.skillsbox {
		.theskillsbox();
	}

	.box {
		font-family: @head-font;
		color: rgb(82, 68, 6); 
		.abox();
	}

	.altbox {
		color: rgb(82, 68, 6); 
		.analtbox();
	}

}



/* Education */

.education {
	padding: 1rem;
	border: 1px solid rgb(247, 246, 242);
	text-align: center; 
	-webkit-box-shadow: inset 155px 2px 252px -200px rgba(235,235,235,1);
-moz-box-shadow: inset 155px 2px 252px -200px rgba(235,235,235,1);
box-shadow: inset 155px 2px 252px -200px rgba(235,235,235,1);

@media(max-width: 500px) {
	padding: 1rem;
}



	
	h4 {
		.h4header();
	}

	h5 {
		.h5header();
		padding-bottom: 1rem;
	}

	h6 {
		.h6header();
		border: none;
	}

	p {
		border-bottom: 1px solid rgb(235, 234, 234); 
		padding-bottom: 1rem;
		line-height: 1.9; 
	}
}




/* Work History */

.work-history {
		padding: 1rem;
		border: 1px solid rgb(247, 246, 242);
		-webkit-box-shadow: inset 124px -4px 154px -200px rgba(63,177,179,1);
-moz-box-shadow: inset 124px -4px 154px -200px rgba(63,177,179,1);
box-shadow: inset 124px -4px 154px -200px rgba(63,177,179,1);

@media(max-width: 500px) {
	padding: 1rem;
}

	 	h4 {
			 .h4header();
			
		 }

		 h5 {
			 .h5header();
			 padding-top: 2rem; 
			 text-align: center; 
		 }

		 h6 {
			 .h6header();
			 text-align: center; 
		 }

		 p {
			 .aparagraph();
			 padding: 1rem;
		 }

}




footer {
	padding: 3rem;
	text-align: center;
	text-transform: uppercase;
	font-size: .8rem;
	line-height: 2rem;
}

footer a {
	text-decoration: none; 
			color: @popofcolor;
}







